<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Problem1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A76921318EEEA8100646231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA6F44718F1619500721D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA6F45D18F16A8B00721D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA6F49C18F2531700721D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA6F4B018F25AEF00721D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
